<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8" *ngFor="let item of userAppointment">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Schedule Appointment</h4>
                      <p class="card-category"></p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-12">
                                <div class="tim-typo">
                                  <h4 style="margin-left: -22%;">Client Name: {{item.clientName}}</h4>
                                  <h4 style="margin-left: -22%;">Start Time:{{item.starTime}}</h4> 
                                  <h4 style="margin-left: -22%;">End Time: {{item.endTime}}</h4> 
                                  <h4 style="margin-left: -22%;">Address:{{item.Address}}</h4> 
                                  <h4 style="margin-left: -22%;">Phone No:{{item.Phone}}</h4>
                              </div>
                             </div>
                              <!-- <div class="col-md-12">
                                <div class="tim-typo">
                                
                              </div>
                              </div>
                              <div class="col-md-12">
                                  < <div class="tim-typo">
                                    <h4>
                                        <span class="tim-note">Header 4</span>The Life of Material Dashboard</h4>
                                </div>
                              </div>
                              <div class="col-md-12">
                                < <div class="tim-typo">
                                  <h4>
                                      <span class="tim-note">Header 4</span>The Life of Material Dashboard</h4>
                              </div>
                            </div>
                            <div class="col-md-12">
                               <div class="tim-typo">
                                <h4>
                                    <span class="tim-note">Header 4</span>The Life of Material Dashboard</h4>
                               </div>
                             </div> -->
                      
                      </div>

                      <div class="row">
                        <div class="col-md-4">
                          <button mat-raised-button type="submit" class="btn btn-info pull-right">CheckIN</button>

                        </div>
                        <div class="col-md-4">
                          <button mat-raised-button type="submit" class="btn btn-info pull-right">CheckOut</button>

                        </div>
                        <div class="col-md-4">
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">SOS</button>

                        </div>
                      </div>
                          <!-- <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fist Name" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Adress" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="City" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Country" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Postal Code" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                 </mat-form-field>
                                  <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                              <!-- </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div> --> 
                      </form>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
